ipykernel
langchain
langchain-community
langchain-openai
openai
huggingface_hub
transformers
jinja2
tiktoken
pypdf

pydub
beautifulsoup4
ffmpeg
ffprobe
python-dotenv
sentence-transformers
langchain-chroma
faiss-cpu
lark
langchain_ollama
pymupdf